*
{
box-sizing:border-box;
margin: 0;
padding: 0;

}

#navbar
{
display: flex;
background-color:white;
justify-content: left;

}

#navbar ul
{
display: flex;
list-style: none;
width: 50%;

}

#navbar ul li
{
padding: 25%;

}