* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    background-color: white;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    padding: 10px;
}

#navbar ul {
    display: flex;
    width: 100vw;
    list-style: none;
    justify-content: space-evenly;
}

#navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner {
    display: flex;
    height: 559px;
    width: 100vw;
    object-fit: cover;
}

.section-container {
    font-family: 'Inconsolata', monospace;
    width: 25vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-container h2 {
    text-align: center;
    padding: 36px;
    font-weight: 300;
    size: 20px;
}

.section-container p {
    line-height: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section-container img {
    display: flex;
    width: 100%;
}

.featured-quote {
    font-family: 'Roboto Condensed', sans-serif;
}