*
{
box-sizing:border-box;
margin: 0;
padding: 0;
font-family: 'Inconsolata', monospace;
filter: grayscale(25%);

}

mark.black
{
    background-color: black;
    color: white;
}

:is(h1)
{
       font-weight: 300;  
    width: fit-content;
    padding:5px;    
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;      
    background-color: black;
    color: white;
   
}
:is(img)
{
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 25vw;
    margin-top: 7px;
    margin-bottom: 7px;
    
}

#navbar
{
display: flex;
background-color:white;
justify-content: center;

padding: 10px;

}

#navbar ul
{
display: flex;
width: 100vw;
list-style: none;
justify-content: space-evenly;


}

#navbar ul li
{
display: flex;
align-items: center;
justify-content: center;

}
#cover
{
display: flex;
height:559px;
width: 100vw;
object-fit: cover;

}

#about
{

font-family: 'Inconsolata', monospace;
width: 25vw;
text-align: center;
margin-left: auto;
margin-right: auto;
text-align: left; 



}
#about-the-cafe
{
text-align:left;

font-weight: 300;
size: 20px;
}


#paragraph-1
{
    
    font-family: 'Roboto Condensed', sans-serif;  
      
}

#coffe-shop
{
    display: flex;    
    width: 25vw;

}

#location
{
    font-family: 'Inconsolata', monospace;
    width: 25vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left; 

}




.contact-button
{

border: none;
background-color: rgba(196, 196, 196, 0.2);
margin-bottom: 10px;
padding: 20px;
width: 25vw;
margin-left: 37vw;

}

#enviar
{
background-color: black;
border: none;
width: 100px;
height: 35px;
color: white;
margin-left: 37vw;

margin-bottom: 50px;
}